body{
    background-image: url('/mai4/pepperoni.avif');
    overflow-x: hidden;
}

.card {
    width: 220px;
    height: 300px;
    border-radius: 20px;
    background: #ffe263;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #7a7a7a;
    transition: 0.5s ease-out;
    overflow: visible;
    margin: 30px;
   }
   
.card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #f80032;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
.text-body {
    color: rgb(134, 134, 134);
   }
   
/*Text*/
.text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
/*Hover*/
.card:hover {
    border-color: #f80032;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

.card img {
    width: 190px;
    max-height: 200px;
   }

.bevitel{
    width: 15rem;
    height: 18rem;
    border-radius: 20px;
    background: #ffe263;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #7a7a7a;
    transition: 0.5s ease-out;
    overflow: visible;
    margin: auto;
   }

.bevitel button{
    margin-top: 10px;
    margin-left: 4rem;
   }

#tartalom{ 
    margin-left: 50px;
}